@using Microsoft.Identity.Client.Extensions.Msal
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <p>Learn about building Web apps with ASP.NET Core.</p>
    
</div>
<script src='@Url.Content("~/script/App.js")'></script>